<div class="text">
<div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Maxosys</div>
      <div class="intro-heading">is Custom Software &  Web Apps,  Mobile <br>Apps Development company.</div>
      <a href="javascript:;" data-toggle="modal" data-target="#myModal" class="btn btn-xl">Request Free Consultations</a>
    </div>
    <div class="sldier">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row-fluid">
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/1.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/2.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/3.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/4.png" alt="Image" style="max-width:100%;" /></a></div>
            </div><!--/row-fluid-->
          </div><!--/item--> 

          <div class="item">
            <div class="row-fluid">
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/5.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/6.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/7.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/8.png" alt="Image" style="max-width:100%;" /></a></div>
            </div><!--/row-fluid-->
          </div><!--/item--> 

          <div class="item">
            <div class="row-fluid">
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/blazre.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/hilton.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/houzz.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/jet-airway.png" alt="Image" style="max-width:100%;" /></a></div>
            </div><!--/row-fluid-->
          </div><!--/item-->

          <div class="item">
            <div class="row-fluid">
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/yusa.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/survey.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/meetme.png" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-sm-3"><a href="javascript:;" class=""><img src="./assets/images/xtile.png" alt="Image" style="max-width:100%;" /></a></div>
             
            </div><!--/row-fluid-->
          </div><!--/item--> 





        </div><!--/carousel-inner-->  
      </div><!--/myCarousel-->
    </div>                      
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="col-sm-3">
      <div class="servicebox">
        <span class="icon"><img src="./assets/images/apps.jpg"></span>
        <div class="services-content">
          <h5>Advanced Web Apps </h5>
          <p>Maxosys transform your Web Apps ideas into full-fledged Advanced  Web Apps.</p>
          <!-- <a href="javascript:;" class="readmore"><i class="fa fa-arrow-right"></i> read more</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="servicebox">
        <span class="icon"><img src="./assets/images/ui.jpg"></span>
        <div class="services-content">
          <h5>UX/UI Architecture </h5>
          <p>Maxosys UX/UI Experts passionate about UX/UI and Matarial designs factors</p>
          <!-- <a href="javascript:;" class="readmore"><i class="fa fa-arrow-right"></i> read more</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="servicebox">
        <span class="icon"><img src="./assets/images/360.jpg"></span>
        <div class="services-content">
          <h5>Mobility 360<sup>0</sup></h5>
          <p>Maxosys help organizations Starup to Enterprise level unleash the power of mobility</p>
          <!-- <a href="javascript:;" class="readmore"><i class="fa fa-arrow-right"></i> read more</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="servicebox">
        <span class="icon"><img src="./assets/images/cloud.jpg"></span>
        <div class="services-content">
          <h5>Cloud </h5>
          <p>Maxosys technology is committed to helping businesses embrace the power of Cloud services online</p>
         <!--  <a href="javascript:;" class="readmore"><i class="fa fa-arrow-right"></i> read more</a> -->
        </div>
      </div>
    </div>



  </div>
</div>

<div class="client">
  <div class="container">
    <div class="map">
      <img src="./assets/images/map.png">
      <div class="col-sm-4">
        <div class="client-text">
          <h2>Over <b>2350 <br> Clients</b> Trust Our Services Worldwide</h2>
          <p>We truly care about our users and our product Users</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="portfolio">
  <div class="container">
    <h3>our work</h3>
    <div class="tab-content custom-tab-content">
      <div>
        <ul class="nav nav-tabs custom-tab" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span class="link-lable">Websites</span></a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><span class="link-lable">Mobile Apps</span></a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="home">
            <div id="myCarousel1" class="carousel slide desktopview">    
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel1" data-slide-to="1"></li>
                  <li data-target="#myCarousel1" data-slide-to="2"></li>
                  <li data-target="#myCarousel1" data-slide-to="3"></li>
                  <li data-target="#myCarousel1" data-slide-to="4"></li>
                  <li data-target="#myCarousel1" data-slide-to="5"></li>
                  <li data-target="#myCarousel1" data-slide-to="6"></li>
                  <li data-target="#myCarousel1" data-slide-to="7"></li>
                  <li data-target="#myCarousel1" data-slide-to="8"></li> 
                  <li data-target="#myCarousel1" data-slide-to="9"></li> 
                  <li data-target="#myCarousel1" data-slide-to="10"></li> 
                  <li data-target="#myCarousel1" data-slide-to="11"></li> 
                  <li data-target="#myCarousel1" data-slide-to="12"></li> 
                  <li data-target="#myCarousel1" data-slide-to="13"></li> 
                  <li data-target="#myCarousel1" data-slide-to="14"></li> 

                </ol>
                <div class="carousel-inner">   
                  <div class="item active">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="http://bighornlaw.com/" target="_blank"><img src="./assets/images/work1.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://www.hodgsonruss.com/" target="_blank"><img src="./assets/images/work2.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://www.bragout.com/" target="_blank"><img src="./assets/images/work3.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item--> 

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://lumoid.com/" target="_blank"><img src="./assets/images/work4.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.tannergoods.com/" target="_blank"><img src="./assets/images/work5.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://blazarcapital.com/" target="_blank"><img src="./assets/images/work6.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://www.hellofresh.com/" target="_blank"><img src="./assets/images/work7.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://www.tsmplaw.com/" target="_blank"><img src="./assets/images/work8.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.oneskyapp.com/" target="_blank"><img src="./assets/images/work9.png" alt="Image" style="max-width:100%;" /></a></div>
                      
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="http://northbasemedia.com/" target="_blank"><img src="./assets/images/work10.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://www.swarmuav.com.au" target="_blank"><img src="./assets/images/work11.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.lumosity.com/" target="_blank"><img src="./assets/images/work12.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->
                  
                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://www.yammer.com/" target="_blank"><img src="./assets/images/work13.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.coinjar.com/" target="_blank"><img src="./assets/images/work14.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://chronobank.io/" target="_blank"><img src="./assets/images/work15.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://www.tolexo.com/" target="_blank"><img src="./assets/images/work16.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.coles.com.au/" target="_blank"><img src="./assets/images/work17.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.candyfavorites.com/" target="_blank"><img src="./assets/images/work18.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://www.physiciansformula.com/" target="_blank"><img src="./assets/images/work19.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.torrid.com/" target="_blank"><img src="./assets/images/work20.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://solgirl.com/" target="_blank"><img src="./assets/images/work21.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="http://www.citychiconline.com/" target="_blank"><img src="./assets/images/work22.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.scribd.com/" target="_blank"><img src="./assets/images/work23.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://www.frenchsoleshoes.com" target="_blank"><img src="./assets/images/work24.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://www.teatoxusa.com/" target="_blank"><img src="./assets/images/work25.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.venturecrowd.com.au/" target="_blank"><img src="./assets/images/work26.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://pozible.com/" target="_blank"><img src="./assets/images/work27.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="http://ozcrowd.com/" target="_blank"><img src="./assets/images/work28.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://startsomegood.com/" target="_blank"><img src="./assets/images/work29.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://gatecoin.com/" target="_blank"><img src="./assets/images/work30.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://atccoin.com/" target="_blank"><img src="./assets/images/work31.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://regalcoin.co/" target="_blank"><img src="./assets/images/work32.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.aventus.io/" target="_blank"><img src="./assets/images/work44.png" alt="Image" style="max-width:100%;" /></a></div>

                    </div><!--/row-fluid-->
                  </div><!--/item 10-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://mingocoin.com/" target="_blank"><img src="./assets/images/work45.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://payperex.com/" target="_blank"><img src="./assets/images/work46.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://eroscoin.org/" target="_blank"><img src="./assets/images/work47.png" alt="Image" style="max-width:100%;" /></a></div>

                    </div><!--/row-fluid-->
                  </div><!--/item 11-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="http://www.smartofgiving.com/" target="_blank"><img src="./assets/images/work48.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://buddtoken.com/" target="_blank"><img src="./assets/images/work49.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://www.zynosports.com/" target="_blank"><img src="./assets/images/work50.png" alt="Image" style="max-width:100%;" /></a></div>

                    </div><!--/row-fluid-->
                  </div><!--/item 12-->

                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://www.itribe.us/" target="_blank"><img src="./assets/images/work51.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="http://resurrectionvintage.com/" target="_blank"><img src="./assets/images/work52.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://aestheticmedicaltraining.com/" target="_blank"><img src="./assets/images/work54.png" alt="Image" style="max-width:100%;" /></a></div>

                    </div><!--/row-fluid-->
                  </div><!--/item 13-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://ventsportlive.com/" target="_blank"><img src="./assets/images/work55.png" alt="Image" style="max-width:100%;" /></a></div>
                       <div class="col-sm-4"><a href="http://www.buddcoin.org/" target="_blank"><img src="./assets/images/work56.png" alt="Image" style="max-width:100%;" /></a></div>

                      <!-- <div class="col-sm-4"><a href="https://aestheticmedicaltraining.com/" target="_blank"><img src="./assets/images/work54.png" alt="Image" style="max-width:100%;" /></a></div> -->

                    </div><!--/row-fluid-->
                  </div><!--/item 14-->




                </div><!--/carousel-inner-->       
            </div>
          </div>



          <div role="tabpanel" class="tab-pane fade" id="messages">

             <div id="myCarousel11" class="carousel slide">    
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel11" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel11" data-slide-to="1"></li>
                  <li data-target="#myCarousel11" data-slide-to="2"></li>
                  <li data-target="#myCarousel11" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">   
                  <div class="item active">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://itunes.apple.com/us/app/pocket-expense-personal-finance-assistant/id424575621?mt=8" target="_blank"><img src="./assets/images/work33.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://itunes.apple.com/us/app/monefy-best-budget-savings-and-money-organizer/id1023167325?mt=8" target="_blank"><img src="./assets/images/work34.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://itunes.apple.com/in/app/my-blue-bird-taxi/id476533261?mt=8" target="_blank"><img src="./assets/images/work35.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item--> 

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://itunes.apple.com/us/app/map-my-run-by-under-armour/id291890420?mt=8" target="_blank"><img src="./assets/images/work36.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://itunes.apple.com/us/app/strava-track-your-run-or-ride/id426826309?mt=8" target="_blank"><img src="./assets/images/work37.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://itunes.apple.com/in/app/sastasundar-genuine-medicine/id1127267628?mt=8" target="_blank"><img src="./assets/images/work38.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                  <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://itunes.apple.com/au/app/hotdoc/id757696633?mt=8" target="_blank"><img src="./assets/images/work39.png" alt="Image" style="max-width:100%;" /></a></div>

                      <div class="col-sm-4"><a href="https://itunes.apple.com/au/app/ausmed/id1091803888?mt=8" target="_blank"><img src="./assets/images/work40.png" alt="Image" style="max-width:100%;" /></a></div>

                      <div class="col-sm-4"><a href="https://itunes.apple.com/in/app/vaxontime-immunisation-reminders-for-victorians/id1063193669?mt=8" target="_blank"><img src="./assets/images/work41.png" alt="Image" style="max-width:100%;" /></a></div>
                      
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                   <div class="item">
                    <div class="row-fluid">
                      <div class="col-sm-4"><a href="https://itunes.apple.com/us/app/ventsport/id1311515886?mt=8" target="_blank"><img src="./assets/images/work42.png" alt="Image" style="max-width:100%;" /></a></div>
                      <div class="col-sm-4"><a href="https://itunes.apple.com/us/app/esd-fashion/id1227650077?mt=8" target="_blank"><img src="./assets/images/work43.png" alt="Image" style="max-width:100%;" /></a></div>
                    </div><!--/row-fluid-->
                  </div><!--/item-->

                </div><!--/carousel-inner-->       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="client-video">
  <div class="col-sm-5 no-padding">
    <div class="videos">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/PCQXxLgeG8s" frameborder="0" allowfullscreen></iframe>  
    </div>
  </div>

  <div class="container">
    <div class="col-sm-7">
      <div class="reviews">
        <h3><b>2400 +</b> <br>Total Clients Reviews</h3>
        <p>We put an extreme focus on quality and on creating the best products in the world in each category we compete in. The love-filled reviews our users write every day are the greatest motivation of all. 
		
		<a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/testimonials" > 
		VIEW ALL REVIEWS 
		</a> 
		
		</p>

        <div class="client-reviews">
          <div data-wow-delay="0.2s">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
              <div class="carousel-inner text-center">
                <div class="item active">
                  <blockquote>
                    <div class="col-sm-12">
                        <p> <span class="laquo"></span>Pleasure to work with!Very professional and timely. ALWAYS STICKS TO DEADLINES, very good!! <span class="raquo"></span></p>
                        <small>Helan Linda</small>
                        <span>USA</span>
                    </div>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <div class="col-sm-12">
                        <p> <span class="laquo"></span>OUTSTANDING provider! Quality work, fast turnaround, couldn't be better!  <span class="raquo"></span></p>
                        <small>Jonathan </small>
                        <span>Canada</span>
                    </div>
                  </blockquote>
                </div>  
                <div class="item">
                  <blockquote>
                    <div class="col-sm-12">
                        <p> <span class="laquo"></span>They stepped up when I was in a bind. They did  <br> great work on short notice. Will certainly hire them again. <span class="raquo"></span></p>
                        <small>Larry Turk </small>
                        <span>USA</span>
                    </div>
                  </blockquote>
                </div> 
                <div class="item">
                  <blockquote>
                    <div class="col-sm-12">
                        <p> <span class="laquo"></span>Always a great help and sticks to deadlines and follows guidelines for work, pleasure to work with!! <span class="raquo"></span></p>
                        <small>James Alford </small>
                        <span>USA</span>
                    </div>
                  </blockquote>
                </div> 
                <div class="item">
                  <blockquote>
                    <div class="col-sm-12">
                        <p> <span class="laquo"></span>Great Design Team!!!!Made a very professional web site!!I highly recommend them!!!!I will use you again. <span class="raquo"></span></p>
                        <small>Dr. Martin </small>
                        <span>Malta</span>
                    </div>
                  </blockquote>
                </div> 
				        <div class="item">
                  <blockquote>
                    <div class="col-sm-12">
                        <p> <span class="laquo"></span> Great work. Evaluation of site is underway, and will certainly work with this company again. <span class="raquo"></span></p>
                        <small>Matt Colmer </small>  
                        <span>Canada</span>
                    </div>
                  </blockquote>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="latest-blog">
  <div class="container">
    <h3>Latest Blog Post  </h3>
    <div class="index-content">
      <a href="javascript:;">
          <div class="col-sm-4">
            <div class="card">
              <img src="./assets/images/blog1.jpg">
              <div class="contents">
                <div class="date">January 10, 2017</div>
                <h4>Network Equipment Providers</h4>
                <p>Network Equipment Providers We understand that business objectives of network equipment business traders revolve around customer experience...</p>
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/blog-detail', 14 ]" class="blue-button">Read More</a>
              </div>
            </div>
          </div>
      </a>

      <a href="javascript:;">
          <div class="col-sm-4">
            <div class="card">
              <img src="./assets/images/blog2.jpg">
              <div class="contents">
                <div class="date">December 22, 2016</div>
                <h4>Iphone Apps Development</h4>
                <p>Software Maintenance / Enhancement Services by Maxosys: Maxosys provides services to standardize your existing processes and methodologies...</p>
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/blog-detail', 13 ]" class="blue-button">Read More</a>
              </div>
            </div>
          </div>
      </a>

      <a href="javascript:;">
          <div class="col-sm-4">
            <div class="card">
              <img src="./assets/images/blog3.jpg">
              <div class="contents">
                <div class="date">December 22, 2016</div>
                <h4>Re-engineering Web Services</h4>
                <p>Maxosys Re-engineering Web Services Re-engineering and Migration are important required task business to business scenarios....</p>
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/blog-detail', 8 ]" class="blue-button">Read More</a>
              </div>
            </div>
          </div>
      </a>     
    </div>
  </div>
</div>
 



